.productSelectorOption {
  display: flex;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 17.5px;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: nowrap !important;
}
