
@font-face {
  font-family: 'pfhandbookprobold';
  src: local('pfhandbookprobold'), url("/fonts/pfhandbookprobold.ttf") format('truetype');
}

@font-face {
  font-family: 'pfhandbookproregular';
  src: local('pfhandbookproregular'), url("/fonts/pfhandbookproregular.ttf") format('truetype');
}
