.root {
}

.root:first-child {
  padding-top: 0;
}

.quantity {
  appearance: textfield;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
}

.productImage {
  position: absolute;
  transform: scale(1.9);
  width: 100%;
  height: 100%;
  left: 30% !important;
  top: 30% !important;
  z-index: 1;
}

.productName {
  margin-top: -4px;
}
